<footer class="bg-main-light py-4 ">
    <div class="container">
        <h2>Get The FreshCart app</h2>
        <p class="text-muted">we will send your a link ,open it on your phone to dowenload the app.</p>

        <div class="d-flex gap-3 ">
            <input type="email" class="form-control" placeholder="Email...">
            <button class="btn-main flex-shrink-0 ">Share App Link</button>
        </div>

        <hr>
        <h3 class="h6 text-center">&copy; 2024 <span class="text-main">Obaid Ramadan</span> All Rights Reserved</h3>
    </div>
</footer>