<footer class="bg-main-light py-4 ">
    <div class="container">
        <h2> {{"footer.getFresh"|translate}} </h2>
        <p class="text-muted"> {{"footer.wewill"|translate}} </p>

        <div class="d-flex gap-3 ">
            <input type="email" class="form-control" placeholder="Email...">
            <button class="btn-main flex-shrink-0 ">{{"footer.ShareApp"|translate}} </button>
        </div>

        <hr>
        <h3 class="h6 text-center">&copy; 2024 <span class="text-main">Obaid Ramadan</span> {{"footer.reserved"|translate}} </h3>
    </div>
</footer>