:host{
    margin-top: auto;
}
footer{
        background-image: url(../../../assets/images/light-patten.svg) !important;
        // background-position: center;
        background-size: cover;
        background-repeat: repeat;
        // background-color: #09c;
}