<section class="mb-4">
    <div class="row g-4 justify-content-center">
        <div [routerLink]="['/branddetails',brand._id]" *ngFor="let brand of brands | paginate: { id: 'brandPaginate', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItem }" class="col-sm-6 col-md-4 col-lg-3">
            <div role="button" class="border rounded shadow  p-2">
                <img height=300 class="w-100" [src]="brand.image" [alt]="brand.name">
                <h3 class="text-center text-main"> {{brand.name}} </h3>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <pagination-controls id="brandPaginate" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)"
        [maxSize]="9" [directionLinks]="true" [autoHide]="true" [responsive]="true" previousLabel="Previous"
        nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>
</section>

