<section class="w-75 mx-auto shadow rounded my-3 bg-main-light p-5">
    <h1 class="my-3">{{"login.login"|translate}} </h1>
    <form [formGroup]="loginForm" (ngSubmit)="handelForm()">



        <div class="form-item">
            <label for="email">{{"login.email"|translate}} </label>
            <input #inputEmail formControlName="email" class="form-control" type="email" id="email">
        </div>
        <!-------------------- handel error for E-mail -------------------->
        <div class="alert-danger"
            *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || inputEmail.value.length>0)">
            <p class="text-muted" *ngIf="loginForm.get('email')?.getError('required')"><span
                    class="text-danger">*</span> E-mail is Required</p>
            <p class="text-muted" *ngIf="loginForm.get('email')?.getError('email')"><span class="text-danger">*</span>
                E-mail is Not valid</p>
        </div>

        <div class="form-item ">
            <label class="text-capitalize" for="password">{{"login.pass"|translate}} </label>
            <div class="position-relative">
                <input #inputPass #pass formControlName="password" class="form-control " type="password" id="password">
                <span
                    (click)="passwordShow = true; passwordShow == true? (pass.type = 'text'): (pass.type = 'password')"
                    [ngClass]="{'d-none': passwordShow ,'end-0':currentLang=='en','start-0':currentLang=='ar'}"
                    role="button" class="position-absolute top-50 end-0 translate-middle-y mx-2">
                    <i class="fas fa-eye"></i>
                </span>
                <span
                    (click)="passwordShow = false;passwordShow == false? (pass.type = 'password'): (pass.type = 'text')"
                    [ngClass]="{'d-none': !passwordShow,'end-0':currentLang=='en','start-0':currentLang=='ar'}"
                    role="button" class="position-absolute top-50 end-0 translate-middle-y mx-2">
                    <i class="fas fa-eye-slash"></i>
                </span>
            </div>

        </div>

        <!-- ---------------------handel error for password -------------------------->
        <div class="alert-danger"
            *ngIf="loginForm.get('password')?.errors &&( loginForm.get('password')?.touched || inputPass.value.length>0)">
            <p class="text-muted" *ngIf="loginForm.get('password')?.getError('required')"><span
                    class="text-danger">*</span> Password is Required</p>
            <p class="text-muted" *ngIf="loginForm.get('password')?.getError('pattern')"><span
                    class="text-danger">*</span> Password must start uppercase then from 6 to 10</p>
        </div>


        <div class="d-flex justify-content-between align-items-center">
            <button [disabled]="loginForm.invalid" class="btn-main mt-4  d-block"><i *ngIf="isLoading"
                    class="fa fa-spinner fa-spin"></i> {{"login.login"| translate}} </button>
            <a routerLink="/forgetpass" class="link-primary"> {{"nav.forgotPassword"| translate}} ?</a>
        </div>


    </form>

</section>